body {
  font-family: "Inter", sans-serif;
}

.btn {
  border-radius: 10px;
  font-size: 0.75rem;
}

footer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
  
.quantity-group {
  display: inline-flex;      
  align-items: center;       
  justify-content: center; 
  width: 50px;  
}


.card {
  overflow: hidden;
  border-radius: 12px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.carousel-caption {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.45); /* white with 45% opacity */
  z-index: 1;
}

.carousel-caption {
  position: relative;
  z-index: 2; /* ensures text sits above overlay */
}

.text-shadow {
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.carousel-item img {
  filter: brightness(20%);
}






